// Override Bootstrap color system

$yellow: #fed136;
$purple: #9A00FE;
// Override Bootstrap default state colors
$primary: $purple;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
